<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      'api/users/user.json.jbuilder',
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.images = {
    logo: "<%= image_url('logo.png') %>",
    pane1_img: "<%= image_url('pane1_img.png') %>",
    exclamation_circle: "<%= image_url('exclamation_circle.jpg') %>",
    session_background: "<%= image_url('session_background.png')%>"

  }
</script>
<main id="root"></main>
