<!DOCTYPE html>
<html>
  <head>
    <title>EasyTrade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel=‘shortcut icon’ type=‘image/x-icon’ href=‘/favicon.ico’ />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
